/*!
 * RAMCO Designs, LLC
 * CSS customizations for Ricochet Webstore frontend template 2
 * Includes tweaks to core bootstrap CSS
 * June 2020
 */
 
 /* ==========================================
    GLOBAL CSS CUSTOMIZATIONS
    ========================================== */

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #7971ea;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #ee4266;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Mukta", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

 body{
background: -moz-linear-gradient(top, rgba(125,185,232,0) 0%,
rgba(178,193,131,0.5) 50%, rgba(178,193,131,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(125,185,232,0)
0%,rgba(178,193,131,0.5) 50%,rgba(178,193,131,1) 100%); /*
Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(125,185,232,0)
0%,rgba(178,193,131,0.5) 50%,rgba(178,193,131,1) 100%); /* W3C, IE10+,
FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* Custom styling for simplyhome */

.container-margin{
    padding: 25px;   
}
.separator {
    padding: 20px;
    
}